@using HybridTodo.Shared.Abstractions.Clients
@using HybridTodo.Shared.Clients
@using HybridTodo.Shared.Services
@inject IAuthClient AuthClient
@inject NavigationManager NavigationManager
@inject IFormFactor FormFactor

<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Navigation menu" @bind-Expanded="expanded" CustomToggle="true">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
            <FluentNavLink Href="counter" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconColor="Color.Accent">Counter</FluentNavLink>
            <FluentNavLink Href="weather" Icon="@(new Icons.Regular.Size20.WeatherPartlyCloudyDay())" IconColor="Color.Accent">Weather</FluentNavLink>
            <FluentNavLink Href="auth" Icon="@(new Icons.Regular.Size20.LockClosedKey())" IconColor="Color.Accent">Auth Required</FluentNavLink>
            <FluentNavLink Href="todo" Icon="@(new Icons.Regular.Size20.List())" IconColor="Color.Accent">Todo</FluentNavLink>
            <FluentNavLink Href="users" Icon="@(new Icons.Regular.Size20.Person())" IconColor="Color.Accent">Users</FluentNavLink>
            <AuthorizeView>
                <Authorized>
                    <FluentNavLink Href="/">@context.User.Identity?.Name</FluentNavLink>
                    <FluentNavLink OnClick="Logout">Logout</FluentNavLink>
                </Authorized>
                <NotAuthorized>
                    <FluentNavLink Href="Account/Register">Register</FluentNavLink>
                    <FluentNavLink Href="Account/Login">Login</FluentNavLink>
                </NotAuthorized>
            </AuthorizeView>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;
    private async Task Logout(MouseEventArgs args)
    {
        await AuthClient.LogoutAsync();
        if (FormFactor.GetFormFactor().StartsWith("Web"))
        {
            NavigationManager.NavigateTo("/", forceLoad: true);
        }
        else
        {
            NavigationManager.NavigateTo("/");
        }
    }
}
